* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}


header {
  width: 100%;
  height: 126px;
  background: #ffffff;
  position: fixed;
  z-index: 99;
}


.container_header {
  max-width: 1780px;
  margin: 0 auto;
  padding: 50px 50px 20px;
}


.logo_header {
  position: absolute;
  top: 16px;
  width: 244px;
  height: 105px;
  object-fit: cover;
}

.link_pages {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 11px;
}

.link_pages a {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  color: #081632;
  position: relative;
  z-index: 2;
}

.link_pages a:focus {
  color: #D10000;
}

.btn_login_header {
  display: flex;
  justify-content: end;
  z-index: 2;
  transform: translate(0px, -31px);
  -webkit-transform: translate(0px, -31px);
  -moz-transform: translate(0px, -31px);
  -ms-transform: translate(0px, -31px);
  -o-transform: translate(0px, -31px);
}

.right_btn {
  max-width: 1490px;
  margin: 0 auto;
  padding: 0px 50px 20px;
  transform: translate(0px, -23px);
  -webkit-transform: translate(0px, -23px);
  -moz-transform: translate(0px, -23px);
  -ms-transform: translate(0px, -23px);
  -o-transform: translate(0px, -23px);
}

.btn_login_header button {
  width: 165px;
  height: 42px;
  background: #D10000;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  color: #FFFFFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.btn_login_header .login_btn:hover {
  background-color: #a72a2a;
  transform: scale(105%);
  transition: .4s ease;
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
  -webkit-box-shadow: 8px 4px 20px 3px rgba(209, 0, 0, 0.2);
  -moz-box-shadow: 8px 4px 20px 3px rgba(209, 0, 0, 0.2);
  box-shadow: 8px 4px 20px 3px rgba(209, 0, 0, 0.2);
}


/* ------ Modal Window ------- */


.modal {
  height: 113vh;
  width: 209%;
  background-color: rgb(0 0 0 / 70%);
  backdrop-filter: blur(12px);
  position: fixed;
  top: -190%;
  left: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 23223;
  transition: 0.7s ease-out;
  opacity: 0;
  pointer-events: none;
}



.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal_conatent {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  height: 630px;
  width: 530px;
  position: fixed;
  top: 20%;
  left: 38%;
  transform: translate(-50%, -50%);
  transform: scale(0.5);
  transition: 0.4s all;
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
}

.modal_conatent.active {
  transform: scale(1);
}

.modal_conatent {
  display: flex;
  justify-content: center;
  padding: 45px 20px;
}

.title_rigister {
  text-align: center;
  font-size: 21px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  margin-top: 30px;
}

.form input {
  width: 438px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgb(201 201 201);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  outline: none;
  font-size: 15px;
}

input::placeholder {
  color: #000000;
}

.form input:focus {
  border: 2px solid #D10000;
}

input[type=text] {
  padding: 10px 20px;
}

input[type=password] {
  padding: 10px 20px;
}

.btn_sign .Sign_up_btn {
  background: none;
  color: rgb(255, 255, 255);
  background-color: #D10000;
  width: 430px;
  height: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn_sign .Sign_up_btn:hover {
  color: #000000;
  background: none;
  border: 2px solid #D10000;
  transform: scale(102%);
  -webkit-transform: scale(102%);
  -moz-transform: scale(102%);
  -ms-transform: scale(102%);
  -o-transform: scale(102%);
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
}

.btn_sign {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn_sign .Google_auth {
  width: 430px;
  height: 47px;
  border-radius: 5px;
  background: none;
  color: #000;
  border: 2px solid #D10000;
}

.google_auther {
  width: 25px;
  position: absolute;
  top: 490px;
  left: 90px;
}

.btn_sign .Google_auth:hover {
  background: #ffffff;
  color: rgb(255, 255, 255);
  background: #D10000;
  transition: .6s ease;
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  -ms-transition: .6s ease;
  -o-transition: .6s ease;
  transform: scale(102%);
  -webkit-transform: scale(102%);
  -moz-transform: scale(102%);
  -ms-transform: scale(102%);
  -o-transform: scale(102%);
}

.bg_wrapper {
  background-image: url('../src/images/bg.png');
  background-size: cover;
  background-position: center;
  height: 994px;
  background-repeat: no-repeat;
  background-size: 105%, 125%, 125%;
  background-attachment: fixed;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 290px 50px 20px;
}

.Info_Silk_Text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Info_Silk_Text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  color: #FFFFFF;
}

.Info_Silk_Text p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* White */
  color: #FFFFFF;
}

.block {
  width: 300px;
  height: 900px;
  background-color: #a72a2a;
}

.login_btn_bg {
  width: 169px;
  height: 42px;
  background: #D10000;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  color: #FFFFFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.login_btn_bg:hover {
  transform: scale(106%);
  transition: 0.5s ease;
  -webkit-transform: scale(106%);
  -moz-transform: scale(106%);
  -ms-transform: scale(106%);
  -o-transform: scale(106%);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.wrapper_cards {
  display: flex;
  gap: 60px;
  margin-top: 183px;
}

.cards__info__university {
  width: 311px;
  height: 357px;
  background: #D10000;
  box-shadow: 0px 5px 19px -3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.cards__info__university:hover {
  transform: scale(104%);
  transition: 0.5s ease all;
  box-shadow: 0px 25px 19px -3px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(104%);
  -moz-transform: scale(104%);
  -ms-transform: scale(104%);
  -o-transform: scale(104%);
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}

.text_insaet {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 15px;
  padding-top: 20px;

}

.text_insaet p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  /* White */
  color: #FFFFFF;
}

.title_card {
  width: 130%;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  /* White */
  color: #FFFFFF;
}

.btn_card {
  display: flex;
  justify-content: center;
}


.text_insaet button {
  border: none;
  width: 134px;
  height: 37px;
  background: rgba(255, 255, 255, 0.38);
  border-radius: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  /* White */
  color: #FFFFFF;
  padding-right: 20px;
  cursor: pointer;
}

.icon {
  position: relative;
  right: 40px;
  cursor: pointer;
}


.Card_Flexibility {
  width: 246px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 5px 19px -3px rgba(0, 0, 0, 0.25);
  margin-top: 55px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.top_contaent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.icon_2 {
  width: 49px;
  object-fit: cover;
}

.icon_2:hover {
  background-color: #ffffff;
}

.title_down {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title_down p {
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  /* Dark Text */
  color: #081632;
}

.hr {
  border: 1px solid #D10000;
}

.down_text {
  position: relative;
  top: -14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  /* Dark Text */
  color: #081632;
}

.Card_Flexibility:hover {
  transform: scale(114%);
  transition: 0.9s ease all;
  box-shadow: 0px 25px 19px -3px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(114%);
  -moz-transform: scale(114%);
  -ms-transform: scale(114%);
  -o-transform: scale(114%);
  -webkit-transition: 0.9s ease all;
  -moz-transition: 0.9s ease all;
  -ms-transition: 0.9s ease all;
  -o-transition: 0.9s ease all;
}

.cart_carusel {
  display: flex;
  width: 0px;
}

.cards_news {
  width: 300px;
  height: 590px;
  background: #FFFFFF;
  box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
  margin-bottom: 39px;
}

.cards_news:hover {
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
  transform: scale(107%);
  transition: 0.6s ease;
  -webkit-transform: scale(107%);
  -moz-transform: scale(107%);
  -ms-transform: scale(107%);
  -o-transform: scale(107%);
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
}

.slider_wrap {
  margin-top: 110px;
  margin-bottom: 30px;
}

.title_slider_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transform: translate(0px, -90px);
  -webkit-transform: translate(0px, -70px);
  -moz-transform: translate(0px, -90px);
  -ms-transform: translate(0px, -90px);
  -o-transform: translate(0px, -90px);
}

.title_slider_top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  /* Dark Text */
  color: #081632;
}

.title_slider_top p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* Dark Text */
  color: #081632;
}

.line {
  border: 1px solid #D10000;
  width: 124px;
  transform: translate(0px, -1px);
  -webkit-transform: translate(0px, -1px);
  -moz-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  -o-transform: translate(0px, -1px);
}

.card_wrap_img img {
  width: 300px;
  position: relative;
  top: 1px;
}

.data_block {
  width: 58px;
  height: 65px;
  background: #545454;
  position: absolute;
  top: 260px;
  margin-left: 22px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.data_block h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* White */
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

.title_cards_news {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-top: 55px;
}

.title_cards_news h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 21px;
  /* identical to box height */
  /* Dark Text */
  color: #081632;
}

.title_cards_news p {
  width: 162px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  /* Dark Text */
  color: #081632;
}

.time_ivent p {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  /* Dark Text */
  color: #081632;
}

.sochil_bar {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  gap: 12px;
  cursor: pointer;
}

.sochil_bar img {
  width: 12px;
  height: 12px;
}

.slick-dots li {
  font-size: 30px;
}